Нужны программы для: 
- чтения и вывода на экран бинарного файла
- генерации случайного нормированного вектора(параллельная)

Основная программа должна:
1. Прочитать вектор из файла
2. Преобразовать вектор путем применения QFT
3. Вывести вектор в файл
Параметры основной программы:
- имя входного и выходного файла
- число кубит

Результат сравнить с результатом, полученным другим способом.
Способ такой: каждый элемент с номером i1 i2 ... in переходит
на позицию in ... i2 i1. Рекомендуется переставлять биты в 
двоичном представлении на ходу, сдвигаться в файле на нужное 
смещение и записывать.
